<section class="bg-primary" id="about">
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading text-white">RDC-Arq</h2>
				<h2 class="section-heading text-white">Repositório Arquivístico Digital Confiável</h2>
				<h2 class="section-heading text-white">Archivematica e Atom</h2>
				<!--<hr class="light my-4">
				<p class="text-faded mb-4">Data:</p>-->
				<h4 class="text-white">De 11 a 13 de dezembro de 2019</h4>
				<!--<hr class="light my-4">
				<p class="text-faded mb-4">Professores:</p>
				<h4 class="text-white">Tatiana Canelhas (META Gestão de Documentos)</h4>
				<h5 class="text-white">Sérgio Diniz</h5>
				<h5 class="text-white">Leonardo Pignataro (Lacuna Software)</h5>-->
			</div>
		</div>
	</div>
</section>
<!--<section id="links">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Links</h2>
				<hr class="my-4">
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgY4UUfQF1kTaFf58dQ">Material da aula</a></p>
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgY4T09o0FIyV3u6oxg">Material complementar</a></p>
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgY03NhbCv75VUjLAfw"><b>Galeria de Fotos</b></a> - novo!</p>
				<hr class="my-4">
				<p><a target="_blank" href="https://www.archivematica.org/">Site Artefactual</a></p>
				<p><a target="_blank" href="http://atom.metadoc.com.br/">Acessar ambiente AtoM</a></p>
				<p><a target="_blank" href="http://arch.metadoc.com.br/">Acessar ambiente Archivematica</a></p>
				<p><a target="_blank" href="http://storage.metadoc.com.br/">Acessar ambiente Storage Service</a></p>
				<hr class="my-4">
				<p style="opacity: 0.4"><a target="_blank" href="/assets/doc/dinamica-ibict.pdf">Instruções da Dinâmica</a></p>
				<p style="opacity: 0.4"><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgY0HxILpGtjud36rxg">Pastas dos grupos</a></p>
			</div>
		</div>
	</div>
</section>-->
<section id="links">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Exercícios</h2>
				<hr class="my-4">
				<p><a target="_blank" href="/assets/doc/exercicios_pdf.pdf">Metadados</a></p>
				<hr class="my-4">
				<p><a target="_blank" href="/assets/doc/01-Termo_Posse_Armando_Rollemberg.pdf">01-Termo_Posse_Armando_Rollemberg.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/02-Ata_posse_Armando_Rollemberg.pdf">02-Ata_posse_Armando_Rollemberg.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/03-Termo_posse_Jose_Dantas.pdf">03-Termo_posse_Jose_Dantas.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/04-Ata_posse_Jose_Dantas.pdf">04-Ata_posse_Jose_Dantas.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/05-Termo_posse_Ilmar_Galvao.pdf">05-Termo_posse_Ilmar_Galvao.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/06-Ata_posse_Ilmar_Galvao.pdf">06-Ata_posse_Ilmar_Galvao.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/07-Termo_posse_Willian_Patterson.pdf">07-Termo_posse_Willian_Patterson.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/08-Ata_posse_William_Patterson.pdf">08-Ata_posse_William_Patterson.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/09-Termo_posse_Bueno_Souza.pdf">09-Termo_posse_Bueno_Souza.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/10-Ata_posse_Bueno_Souza.pdf">10-Ata_posse_Bueno_Souza.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/11-Termo_posse_Cid_Scartezzini.pdf">11-Termo_posse_Cid_Scartezzini.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/12-Ata_posse_Cid_Scartezzini.pdf">12-Ata_posse_Cid_Scartezzini.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/13-Termo_posse_Jesus_Lima.pdf">13-Termo_posse_Jesus_Lima.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/14-Ata_posse_Jesus_Lima.pdf">14-Ata_posse_Jesus_Lima.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/15-Termo_posse_Geraldo_Sobral.pdf">15-Termo_posse_Geraldo_Sobral.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/16-Ata_posse_Geraldo_Sobral.pdf">16-Ata_posse_Geraldo_Sobral.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/17-Termo_posse_Carlos_Thibau.pdf">17-Termo_posse_Carlos_Thibau.pdf</a></p>
				<p><a target="_blank" href="/assets/doc/18-Ata_posse_Carlos_Thibau.pdf">18-Ata_posse_Carlos_Thibau.pdf</a></p>
			</div>
		</div>
	</div>
</section>
