<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">META</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/#about">Saiba Mais</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/#cases">Casos de Sucesso</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/#contact">Contato</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" routerLink="/course">Curso</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<section class="bg-primary" id="about">
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading text-white">Curso: Práticas no uso do AtoM e Archivematica</h2>
				<h3 class="text-white">29 out a 01 nov</h3>
				<hr class="light my-4">
				<p class="text-faded mb-4">
					Professores:<br />
					Tatiana Canelhas<br />
					Sérgio Diniz
				</p>
			</div>
		</div>
	</div>
</section>
<section id="links">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Links</h2>
				<hr class="my-4">
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgYxr3ISOP0E0ezvs7g">Pastas dos grupos</a></p>
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgYxt1dJ4r6b33ZyZCw">Material da aula</a></p>
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgYxshnLYjPGSxqyxcw">Material complementar</a></p>
				<hr class="my-4">
				<p><a target="_blank" href="http://atom.metadoc.com.br/">Acessar ambiente AtoM</a></p>
				<p><a target="_blank" href="http://arch.metadoc.com.br/">Acessar ambiente Archivematica</a></p>
			</div>
		</div>
	</div>
</section>
<section id="contact" class="bg-dark text-white">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading">META Gestão de Documentos</h2>
				<hr class="my-4">
				<!-- <p class="mb-5">Para mais informações, entre em contato conosco!</p> -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto text-center">
				<i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
				<p>(61) 9 9145-8250 <i class="fa fa-whatsapp"></i></p>
			</div>
			<div class="col-lg-4 mr-auto text-center">
				<i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
				<p>
					<a href="mailto:contato@metadoc.com.br">contato@metadoc.com.br</a>
				</p>
			</div>
		</div>
	</div>
</section>
