<section class="bg-primary" id="about">
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading text-white">Curso: Práticas no uso do AtoM e Archivematica</h2>
				<h3 class="text-white">29 out a 01 nov</h3>
				<hr class="light my-4">
				<p class="text-faded mb-4">
					Professores:<br />
					Tatiana Canelhas<br />
					Sérgio Diniz
				</p>
			</div>
		</div>
	</div>
</section>
<section id="links">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Links</h2>
				<hr class="my-4">
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgY0HxILpGtjud36rxg">Pastas dos grupos</a></p>
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgYxt1dJ4r6b33ZyZCw">Material da aula</a></p>
				<p><a target="_blank" href="https://1drv.ms/f/s!Ahih13-yEZdNgYxshnLYjPGSxqyxcw">Material complementar</a></p>
				<p><a target="_blank" href="/assets/doc/dinamica-ibict.pdf"><b>Instruções da Dinâmica</b></a> - novo!</p>
				<hr class="my-4">
				<p><a target="_blank" href="http://atom.metadoc.com.br/">Acessar ambiente AtoM</a></p>
				<p><a target="_blank" href="http://arch.metadoc.com.br/">Acessar ambiente Archivematica</a></p>
			</div>
		</div>
	</div>
</section>
